@{
    ViewData["Title"] = "Secure Page";
}
<h1>@ViewData["Title"]</h1>

<p>Access granted!</p>

<div>
    <h2>Weather forecast</h2>
    <div style="white-space: pre">
@ViewData["WeatherForecast"]
    </div>
</div>
